.bus-container {
  width: 1616px;
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bus-container.grey {
  background-color: #FAFAFA;
}

.bus {
  width: 1440px;
  height: 20px;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
